@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hsl(217, 54%, 11%);
}


.panneau-haut {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 346px;
    background-color: hsl(216, 50%, 16%);
    margin-top: 132px;
}

.overlay-image {
    position: relative;
    width: 298px;
}

.overlay-image .image {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin : 24px 0 ;
}

.overlay-image .hover {
    position: absolute;
    top: 129px;
    left: 129px;
    height: auto;
    width: 40px;
    opacity: 0;
}

.overlay-image:hover .hover {
    opacity: 1;
    background-color: hsl(178, 100%, 50%, 0.5);
    padding: 105px 129px;
    top: 24px;
    left: 0;
    border-radius: 10px;
}


.panneau-milieu-1 {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: left;
    width: 346px;
    background-color: hsl(216, 50%, 16%);

}

p1 {
    color: white;
    font-size: 22px;
    font-family: 'Outfit';
    font-weight: 600;
    margin-left: 24px;
    margin-bottom: 24px;
}

p1:hover, p6:hover {
    color: hsl(178, 100%, 50%);
}

p2 {
    color: rgb(160, 160, 160);
    font-size: 18px;
    font-family: 'Outfit';
    font-weight: 300;
    margin-left: 24px;
    margin-bottom: 24px;
}

.panneau-milieu-2 {
    display: flex;
    flex-direction: row;
    justify-content:space-between;

    width: 346px;
    background-color: hsl(216, 50%, 16%);

}

p3 {
    display: flex;
    color: hsl(178, 100%, 50%);
    font-size: 16px;
    font-family: 'Outfit';
    font-weight: 400;
    margin-left: 24px;
    align-items: center;
}


p4 {
    display: flex;
    color: rgb(160, 160, 160);
    font-size: 16px;
    font-family: 'Outfit';
    font-weight: 400;
    margin-right: 24px;
    align-items: center;
}

p3 img, p4 img {
    margin-right: 8px;
}

hr {
    background-color: rgb(160, 160, 160, 0.2);
    margin: 24px 24px 18px 24px;
    width: 298px;
    height: 0.2px;
    border: solid 0px;
    
}

.panneau-bas {
    width: 346px;
    background-color: hsl(216, 50%, 16%);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding-bottom: 30px;
    margin-bottom: 50px;
}

p5 {
    display: flex;
    margin-left: 24px;
    align-items: center;
    color: rgb(160, 160, 160);
    font-size: 16px;
    font-family: 'Outfit';
    font-weight: 400;
}

p6 {
    color: rgb(255, 255, 255);
    margin-left: 4px;

}

p5 img {
    width: 35px;
    border: solid 1px white;
    border-radius: 50%;
    margin-right: 8px;
}



/*CSS Footer*/

.attribution { 
    font-size: 11px; 
    text-align: center;
    color: white;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
    text-decoration: none;
}



@media only screen and (max-width: 767px) {
    
    .panneau-haut {
        margin-top: 50px;
    }


}